<!DOCTYPE html>
<html>

<head>
    <title>
        Sign-up Page
    </title>

    <link rel='stylesheet' href='../stylesheets/style.css' />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <script type="text/javascript" src="/javascript/userSignup.js"></script>

</head>

<body>

    <div id='user_signup_form' style='padding:6px;'>

        <br> Username: <input type="text" name="username">
        <br>
        <br><br> Password: <input type="text" name="password"><br><br>

        <div class='button' id='signUpSubmit'> Submit </div>
        <div id='loginErrMsg' style="display:none">
            <p style='color:red'> Username already taken. Select a different username.</p>
        </div>




</body>

</html>