<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>


    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--
    <script src="API/JQuery/jquery-3.4.1.min.js"></script>
    <script src="API/jquery-ui-1.12.1/jquery-ui.js"></script>
  -->

</head>

<body>
    <div id='mainVisible'>
        <div id='header'>
            <img src="" id='mainlogo'>
            <div style='right indent'>
                <div id='optMenu'></div>
                <img src="" id='userIcon'>
            </div>
        </div>

        <div id='content' class=''>
            <div class='sections' id='mySchedule'></div>
            <div class='sections' id='myStats'></div>
        </div>
    </div>


</body>

</html>